@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,600');

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

/* Base & Typography */
*
{ 
    margin: 0; 
    padding: 0; 
    outline: none; 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: top; 
    text-align: left; 
    font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif; 
}
html, body { height: 100%; width: 100%; }
body 
{
	position: relative;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    color: #333;
    min-width: 320px;
    
}
a.link
{
    color: #007cc2;
    text-decoration: none;
    font-weight: 600;
    line-height: inherit;
}
a.link:hover,
a.link:active
{
    text-decoration: underline;
}
ul, ol
{
    list-style: none;
}

/* Gallery & Carousel */
section.gallery
{
    position: relative;
    width: 100%;    
    padding-bottom: 50px;
    font-size: 0;
    text-align: center;
}
section.gallery img
{
    max-width: 98%;
    margin: 0 1%;
}

.owl-carousel { display: none; width: 100%; -webkit-tap-highlight-color: transparent; position: relative; z-index: 1; }
.owl-carousel .owl-stage { position: relative; -ms-touch-action: pan-Y; }
.owl-carousel .owl-stage:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.owl-carousel .owl-stage-outer { position: relative; overflow: hidden; -webkit-transform: translate3d(0px, 0px, 0px); }
.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-dot { cursor: pointer; cursor: hand; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.owl-carousel.owl-loaded { display: block; }
.owl-carousel.owl-loading { opacity: 0; display: block; }
.owl-carousel.owl-hidden { opacity: 0; }
.owl-carousel .owl-refresh .owl-item { display: none; }
.owl-carousel .owl-item { position: relative; min-height: 1px; float: left; -webkit-backface-visibility: hidden; -webkit-tap-highlight-color: transparent; -webkit-touch-callout: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.owl-carousel .owl-item img { display: block; width: 100%; -webkit-transform-style: preserve-3d; } 
.owl-carousel.owl-text-select-on .owl-item { -webkit-user-select: auto; -moz-user-select: auto; -ms-user-select: auto; user-select: auto; }
.owl-carousel .owl-grab { cursor: move; cursor: -webkit-grab; cursor: -o-grab; cursor: -ms-grab; cursor: grab; }
.owl-carousel.owl-rtl { direction: rtl; }
.owl-carousel.owl-rtl .owl-item { float: right; }
.no-js .owl-carousel { display: block; }

section .carousel
{ 
    width: 100%;    
}
section .carousel .item
{
    margin: 0px;
}
section .carousel .item img
{
    display: block;
    width: 100%;
    height: auto;
}
section .carousel .item figcaption
{
    display: block;
    width: 100%;
    font-size: 14px;
    line-height: 1.4em;
    padding: 10px;
    color: #707070;
    text-align: center;
    margin-top: 5px;
}
section .carousel .owl-controls
{
    border-top: 1px solid #ececec;
    padding-top: 10px;
}
section .carousel .owl-controls .owl-dots
{
    text-align: center;
}
section .carousel .owl-controls .owl-dots .owl-dot
{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 5px;
    background: #eee;
    border-radius: 50%;
    box-shadow: inset 1px 1px 3px 0 rgba(0,0,0,.3);
}
section .carousel .owl-controls .owl-dots .owl-dot:hover,
section .carousel .owl-controls .owl-dots .owl-dot:active
{
    background: #007cc2;  
    border: 2px solid #fff;
    box-shadow: 0 0 0 2px #007cc2;
}
section .carousel .owl-controls .owl-dots .owl-dot.active
{
    background: #007cc2;    
}

article
{
    padding: 20px;
}
article h2
{
    font-size: 22px;
    font-weight: 100;
    line-height: 1.5em;
    margin: 1.5em 0;
    color: #888;
    text-align: center;
}
article h3
{
    font-size: 22px;
    font-weight: 600;
    line-height: 1.2em;
    margin: 2.5em 0 -.5em 0;
    color: #555;
}
article h4
{
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2em;
    margin: 1.5em 0 -.5em 0;
    color: #777;
}
article p
{
    font-size: 16px;
    line-height: 1.5em;
    margin: 1.5em 0;
    text-align: justify;
}
article ul
{
    margin: 1em 2em;
    list-style: square;
}
article ul li
{
    font-size: 16px;
    line-height: 1.5em;
    margin: .5em 0;
}

hr.break 
{
    margin: 30px auto;
    max-width: 60px;
    height: 0;
    border: 3px solid #007cc2;
}  

.content
{
    min-width: 320px;
    max-width: 1000px;
    margin: 0 auto;
}

.icon-scroll
{
    display: block;
    border: 2px solid #bbb;
    width: 24px;
    height: 42px;
    border-radius: 12px;
    margin: 20px auto;
    position: relative;
}
.icon-scroll:before
{
    content: '';
    width: 6px;
    height: 10px;
    position: absolute;
    left: 50%;
    z-index: 2;
    background-color: #bbb;
    margin-left: -3px;
    top: 6px;  
    border-radius: 4px;
    -webkit-animation: scroll 1.5s infinite;
    -moz-animation: scroll 1.5s infinite;
    -ms-animation: scroll 1.5s infinite;
    animation: scroll 1.5s infinite;
}
@-webkit-keyframes scroll 
{
    0% { opacity: 1; }
    100% { opacity: 0; top: 26px; }
}
@-moz-keyframes scroll 
{
    0% { opacity: 1; }
    100% { opacity: 0; top: 26px; }
}
@-ms-keyframes scroll 
{
    0% { opacity: 1; }
    100% { opacity: 0; top: 26px; }
}
@keyframes scroll 
{
    0% { opacity: 1; }
    100% { opacity: 0; top: 26px; }
}

/* Header */
header { position: relative; }
header nav 
{
    background: #fff;
    position: fixed;
    top: 0;
    height: 60px;    
    width: 100%;
    border-bottom: 1px solid #ececec; 
    z-index: 100;    
}
header nav a 
{
    font-size: 16px;
    line-height: 60px;
    color: #707070;
    text-decoration: none;
    font-weight: 400;
}
header nav .logo
{
    display: inline-block;
    margin: 10px 20px;
    width: 40px;
    height: 40px;
}
header nav .logo img
{
    width: 100%; 
    height: auto;    
}
header nav .toggle-menu
{
    display: inline-block;
    margin-right: 20px;
    float: right;
    padding-left: 34px;
    background-image: url(../img/ico-menu.png);
    background-position: center left;
    background-repeat: no-repeat;
    background-size: 26px auto;
}
header nav ul.menu
{
    background: #fff;
}
header nav ul.menu li a
{
    display: inline-block;
    padding: 0 20px;    
}
header nav ul.menu li a:hover,
header nav ul.menu li a:active
{
    color: #137dbf;
}
header nav ul.menu li a.more:after
{
    content: "";
    vertical-align: middle;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(../img/ico-chevron-down.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 16px auto;
}
header nav ul.menu li a.language
{
    padding-left: 60px;
    background-position: 20px center;
    background-repeat: no-repeat;
    background-size: 30px auto;
}
header nav ul.menu li a.language.it
{
    background-image: url(../img/ico-it.png);    
}
header nav ul.menu li a.language.en
{
    background-image: url(../img/ico-en.png);    
}
header nav ul.menu li a.language.current
{
    background-color: #f5f5f5;    
}
header nav ul.menu ul.dropdown-menu li
{ 
    display: block; 
    width: 100%;
}
header nav ul.menu ul.dropdown-menu li a
{
    font-size: 14px;
}
header section 
{
    background: #f5f5f5;    
    width: 100%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
}
header section .title
{
    background-color: rgba(0,0,0,.3);
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;    
}
header section .title h1
{
    padding: 70px 20px;
    color: #fff;
    font-size: 42px;
    font-weight: 100;
    text-shadow: 1px 1px 2px rgba(0,0,0,.5);
    text-align: center;
}

.page
{
    margin-top: 60px;
}

/* Footer */
footer
{    
    width: 100%;
    padding: 10px 0;    
    color: #fff;
    background-color: #222;  
    font-size: 0;
}
footer .box
{
    width: 100%;
    padding: 10px 20px;
    display: inline-block;
}
footer .box h2
{
    font-size: 22px;
    font-weight: 300;
    line-height: 40px;
    margin-bottom: 25px;
    border-bottom: 1px solid #444;    
    position: relative;
}
footer .box h2:before 
{
    content: "";
    position: absolute;    
    height: 1px;
    background: #007cc2;
    width: 200px;
    bottom: -1px;
    left: 0px;
}
footer .box.about .info h3
{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    
}
footer .box.certifications p
{
    font-size: 13px;
    line-height: 1.5em;
    text-align: justify;
    color: #ddd;
    margin-bottom: 30px;
}
footer .box.certifications img
{
    width: 100%;
    display: block;
    height: auto;
    max-width: 300px;
    opacity: .8;
}
footer .copyright
{
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #444;    
}
footer .copyright p
{
    padding: 0 15px;
    margin-bottom: .8em;
    font-size: 14px;
    text-align: center;
    color: #777;
}
footer .box.about .info .item
{
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    display: block;
    line-height: 24px;
    margin-bottom: 10px;
}
footer .box.about .info a.item:hover,
footer .box.about .info a.item:active
{
    color: #007cc2;
}
footer .box.about .info .item.icon
{
    padding-left: 26px;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 18px auto;
}
footer .box.about .info .item.icon.phone
{
    background-image: url(../img/footer-phone.png);
}
footer .box.about .info .item.icon.fax
{
    background-image: url(../img/footer-fax.png);
}
footer .box.about .info .item.icon.email
{
    background-image: url(../img/footer-email.png);
}


/* Home Page */
.page.home header section 
{
    background-position: center center;
    background-image: url(../img/header-hp.jpg); 
    
}
.page.home header section .title
{
    background-color: transparent;
}
.page.home header section .video-player,
.page.home header section .video-player video
{
    display: none;
}
.page.home section.automation
{
    background: #007cc2;
    color: #fff;
    font-size: 0;
}
.page.home section.automation .box
{
    width: 100%;
    display: inline-block;        
    border-bottom: 1px solid #fff;
    text-align: center;
    padding: 15px;
}
.page.home section.automation a
{
    color: #fff;
    display: table-cell;
    width: 100%;
    padding: 15px;
    font-size: 14px;
    text-decoration: none;  
    border-radius: 5px;
}
.page.home section.automation a:hover,
.page.home section.automation a:active
{
    background-color: rgba(255,255,255,.1);
}
.page.home section.automation .box .ico
{
    display: block;
    margin: 5px auto;
    width: 80px;
    height: 80px;
    border-bottom: 5px solid rgba(255,255,255,.4);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 50px auto;
}
.page.home section.automation .box .ico.electrical-design
{
    background-image: url(../img/ico-electrical-design.png);
}
.page.home section.automation .box .ico.software-design
{
    background-image: url(../img/ico-software-design.png);
}
.page.home section.automation .box .ico.production
{
    background-image: url(../img/ico-production.png);
}
.page.home section.automation .box h2
{
    text-align: center;
    font-size: 24px;    
    font-weight: 400;
    margin: 25px 0;
}
.page.home section.automation .box p
{
    text-align: center;
    font-size: 16px;
    margin-bottom: 10px;
}


.page.home section.partners
{
    background: #f5f5f5;
    font-size: 0;
    padding: 20px 0;
}
.page.home section.partners .logo
{
    width: 50%;
    padding: 25px;
    display: inline-block;
    text-align: center;
}
.page.home section.partners .logo img
{
    width: 100%;
    max-width: 200px;
    height: auto;
}
.page.home section.iot
{
    padding: 20px 0;    
}
.page.home section.iot h3
{
    font-size: 22px;
    margin: 20px;
    font-weight: 300;
    text-align: center;
    color: #999;
}
.page.home section.iot h2
{
    margin: 20px;
    text-align: center;    
}
.page.home section.iot h2 img
{
    width: 200px;
}
.page.home section.iot .wrapper
{
    width: 100%;
    font-size: 0;
    text-align: right;
}
.page.home section.iot .box
{
    width: 100%;
}
.page.home section.iot .box.text
{
    font-size: 16px;    
    padding: 0 20px;
    margin-left: auto;
}
.page.home section.iot .box.text p
{
    line-height: 1.4em;
    text-align: justify;
}
.page.home section.iot .box.text ul
{
    margin: 15px 0;
}
.page.home section.iot .box.text ul li
{
    margin: .8em 5px;
    min-height: 30px;
    padding-left: 38px;
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 30px auto;
    background-image: url(../img/ico-check.png);
}
.page.home section.iot .box.text p.link
{
    text-align: center;
}
.page.home section.iot .box.text a
{
    display: inline-block;
    padding: 10px 20px;
    margin: 15px 0;
    text-decoration: none;
    color: #007cc2;
    border: 1px solid #007cc2;
    border-radius: 3px;
    font-weight: 600;
    white-space: nowrap;
}
.page.home section.iot .box.text a:hover,
.page.home section.iot .box.text a:active
{
    color: #fff;
    background-color: #007cc2;
}
.page.home section.iot .box.image
{
    padding: 20px 0;
    text-align: left;
    overflow: hidden;
}
.page.home section.iot .box.image img
{
    width: 100%;
    margin-left: 40px;
    height: auto;
}

.page.home section.team
{
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #ececec;
    background: #fff;
    background: -webkit-linear-gradient(top, #f5f5f5 0%, #ffffff 30%);    
    background: -moz-linear-gradient(top, #f5f5f5 0%, #ffffff 30%);
    background: linear-gradient(to bottom, #f5f5f5 0%, #ffffff 30%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#ffffff', GradientType=0);
}
.page.home section.team h3
{
    font-size: 22px;
    margin: 10px;
    font-weight: 300;
    text-align: center;
    color: #999;
}
.page.home section.team h2
{
    margin: 20px;
    font-size: 34px;
    font-weight: 600;
    text-align: center;
    color: #007cc2;
}
.page.home section.team .people
{
    width: 100%;
    padding: 5px;
    font-size: 0;  
    margin-bottom: 30px;
    border-bottom: 1px solid #ececec;
}
.page.home section.team .vcard
{
    display: inline-block;
    width: 33.3333%;    
    padding: 5px; 
    text-align: center;    
}
.page.home section.team .vcard img
{
    width: 100%;
    max-width: 260px;
    height: auto;
    border: 1px solid #ececec;
    border-radius: 7px;
    background: #fff;
    overflow: hidden;
}
.page.home section.team .vcard .description
{
    padding: 10px;       
}
.page.home section.team .vcard .description .name
{
    font-size: 15px;
    line-height: 24px;
    font-weight: 600;
    text-align: center;
}
.page.home section.team .vcard .description .role
{
    font-size: 11px;
    color: #555;
    margin: 8px 0;
    text-align: center;
}

.page.home section.team img.full-team
{
    width: 100%;
}

/* Other pages */
.page.about header section 
{
    background-image: url(../img/header-about.jpg);      
}

.page.electrical-design header section 
{
    background-image: url(../img/header-electrical-design.jpg);      
}

.page.software-design header section 
{
    background-image: url(../img/header-software-design.jpg);  
    background-position: bottom center;
}
.page.software-design section.gallery .box 
{
    display: inline-block;
    width: 50%;
    padding: 5px;
    text-align: center;
}

.page.production header section 
{
    background-image: url(../img/header-production.jpg);      
}

.page.iotly header section 
{
    background-image: url(../img/header-iotly.jpg);      
}
.page.iotly img.logo
{
    display: block;    
    width: 200px;
    margin: 10px auto 30px auto;
}
.page.iotly section.gallery 
{
    padding: 20px 0 0 0;
}
.page.iotly section.gallery a.button
{    
    background-color: rgba(0,0,0,.8);
    color: #fff;
    text-decoration: none;
    font-size: 22px;
    font-weight: 600;
    padding: 20px 70px 20px 40px;
    line-height: 30px;
    border-radius: 5px;
    border: 2px solid #fff;
    box-shadow: 0 0 8px 0 rgba(0,0,0,.6);
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    -moz-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);    
}
.page.iotly section.gallery a.button:after
{
    content: "";
    display: inline-block;
    position: absolute;
    width: 30px;
    height: 30px;
    margin-left: 10px;    
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 30px auto;
    background-image: url(../img/ico-arrow-right.png);
}
.page.iotly section.gallery a.button:hover,
.page.iotly section.gallery a.button:active
{
    background-color: #007cc2;
}

.page.contacts header section 
{
    background-image: url(../img/header-contacts.jpg); 
}
.page.contacts section article .contact-info
{
    font-size: 0;    
}
.page.contacts section article .contact-info h3
{
    margin-top: 20px;    
}
.page.contacts section article .contact-info .box
{
    display: inline-block;
    width: 100%;
}
.page.contacts section article .contact-info .box.map
{
    padding: 5px;
    background: #f8f8f8;
    border-radius: 4px;
    border: 1px solid #ececec;
}


/* Breakpoints */
@media screen and (min-width: 320px) and (max-width: 767px) /* phone only */
{
    header nav ul.menu
    {
        display: none;
        position: absolute;
        top: 60px;
        width: 100%;
        background: #fff;
        border-top: 1px solid #ececec;
    }
    header nav ul.menu li a
    {
        width: 100%;
        line-height: 44px;    
        border-bottom: 1px solid #ececec;
    }    
    header nav ul.menu li a:active
    {
        background-color: #f8f8f8;        
    }      
    header nav ul.menu ul.dropdown-menu li a
    {
        padding-left: 50px;
    }
    
}

@media screen and (min-width: 768px) /* tablet */
{
    article h2
    {
        font-size: 36px;        
    }
    article h3
    {
        font-size: 26px;        
    }
    article h4
    {
        font-size: 24px;        
    }
    article p,
    article li
    {
        font-size: 20px !important;
    }
    header nav
    {
        height: 80px;
    }
    header nav .logo
    {
        margin: 10px 20px;
        width: 60px;
        height: 60px;
    }
    header nav .toggle-menu 
    { 
        display: none; 
    }
    header nav ul.menu 
    { 
        display: inline-block !important; 
        position: relative; 
        width: auto; 
        margin-top: 10px;
        height: 60px; 
        float: right; 
    }
    header nav ul.menu li 
    { 
        display: inline-block;
    }
    header nav ul.menu ul.dropdown-menu 
    { 
        display: none;
        position: absolute; 
        left: 210px; 
        top: 62px; 
        background: #fff; 
        width: auto; 
    }
    header nav ul.menu ul.dropdown-menu li a 
    { 
        line-height: 44px;
        display: block;
        padding-right: 50px;
        border-bottom: 1px solid #ececec;
    }
    header nav ul.menu li a.language
    {
        font-size: 0;
        text-indent: -1000px;
        width: 60px;
        padding: 0;
        overflow: hidden;
        background-position: center center;
        border-radius: 5px;
    }    
    .page 
    {
        margin-top: 80px;
    }
    header section .title h1
    {
        padding: 150px 20px;    
        font-size: 70px !important;        
    }
    section .carousel .item figcaption
    {
        font-size: 16px;        
    }

    footer .box
    {
        width: 50%;
    }

    .page.home header section .video-player 
    {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        min-height: 100%;
        min-width: 100%;
        -webkit-transform-style: preserve-3d;
    }
    .page.home header section .video-player video
    {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        min-height: 100%;
        min-width: 100%;
        height: auto;
        width: 100%;
        object-fit: cover;
    }
    
    .page.home section.automation .box
    {
        width: 33.333%;
        border: 0;
    }
    .page.home section.partners .content
    {
        border-left: 1px solid #ccc;
    }
    .page.home section.partners .logo
    {
        width: 25%;
        border-right: 1px solid #ccc;    
    }
    .page.home section.iot .wrapper .box
    {
        width: 50%;
        display: inline-block;        
    }
    .page.home section.iot .box.text
    {
        max-width: 500px; 
        padding-top: 25px;
        font-size: 18px;
    }
    .page.home section.team .vcard .description .name
    {
        font-size: 18px;        
    }
    .page.home section.team .vcard .description .role
    {
        font-size: 14px;        
    }
    
    .page.software-design section.gallery .box 
    {
        width: 25%;        
    }
    
    .page.contacts section article .contact-info
    {
        padding: 20px 0;
    }
    .page.contacts section article .contact-info .box
    {
        width: 50%;
    }
}

@media screen and (min-width: 1024px) /* desktop */
{
    
}